# for

In [7]:
for x in range(0,23)  :
 print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [8]:
number=int(input("Enter a number"))
print("The mutiflication table of ",number)
for i in range (1,11):
    print(f" {number} x {i} = {number*i} ")

Enter a number 5

The mutiflication table of  5
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50

In [23]:
num_items=int(input("enter the number of items purchased"))
total_price =0
for i in range(num_items):
    price = float(input("Enter the price of the item "))
    total_price = total_price + price
    i=i+1
if total_price >= 100 :
    discount=0.1 *total_price
elif 50<=total_price < 100:    
    discout =0.5 *total_price
else:
    discount = 0
    
total_bill=total_price-discount
print ("discount =",discount)
print("Total bill = ",total_bill)

enter the number of items purchased 3
Enter the price of the item  80
Enter the price of the item  5
Enter the price of the item  2

discount = 27.0
Total bill =  60.0

In [5]:
EXAM_SCORES={85,92,78,90,88,95,82,79,87,91}
def exam_statistics(EXAM_SCORES):
    num_student=len(EXAM_SCORES)
    average_score= sum(EXAM_SCORES)/num_student
    highest_score = max(EXAM_SCORES)
    lowest_score= min(EXAM_SCORES)
    num_passed=0

    for i in EXAM_SCORES:
        if i >=80:
            num_passed=num_passed+1

    num_failed=num_student-num_passed
    return average_score ,lowest_score,num_passed,num_failed,highest_score

In [20]:
EXAM_SCORES={85,92,78,90,88,95,82,79,87,91}

average_score, highest_score, lowest_score, num_passed, num_failed = exam_statistics(EXAM_SCORES)
print("the num of stuudents",lowest_score)

the num of stuudents 8

In [15]:
def grade_distribution(grade):
    for i in grade :
        if 90<= i<=100 :
            print("you have a A grade")
        elif 80<=i<=89 :
            print("you have a got grade B")
        elif 70<=i>=79:
          print("you have a C grade")
        elif 60<=i>=69:
            print("you have a got grade B")
        else:
            print("you have E grade")
            return

In [16]:
grade=[60,90,40,80,70,90,70,50]
grade_distribution(grade)

you have E grade

# guess game

In [33]:
import random

def number_guess():
    secret_number =random.randint(1,100)
    print( secret_number)

    print("welcome ")
    print("Select the number between 1 to 100:")
    attemps=0
    guess =None
    while guess != secret_number:
        guess=int(input("Enter your guess"))
        attemps=attemps+1

        if guess < secret_number:
            print("too loww try agaim:")
        elif guess > secret_number :
            print("too high guess again :")
        else :
            print ("you won ")

    print("attemps =",attemps)

In [34]:
number_guess()

24
welcome
Select the number between 1 to 100:

Enter your guess 45

too high guess again :

Enter your guess 24

you won
attemps = 2

# function

In [5]:
def n_sum(n):
    sum=0
    for i in range (1,n+1) :
        sum=sum+(i*i)
    return sum

n = 5
print(n_sum(n))

55

In [7]:
n = 5
print(n_sum(n))

55

# string

In [28]:
a="sumit"
print(a)
print(type(a))

sumit
<class 'str'>

## mutliline string

In [30]:
a="""nninidneone
kniononif
ninonoinef
kmomm
ompmpompw
m,,moo,kppppkpkpkp
lomomsmposm"""
print(a)

nninidneone
kniononif
ninonoinef
kmomm
ompmpompw
m,,moo,kppppkpkpkp
lomomsmposm

## indexing of strings

In [34]:
a="hello dear learners"
print(a[0])
print(a[1])
print(a[3])
print(a[-1])
print(a[-2])

h
e
l
s
r

In [35]:
b="data sc is growing field"
print(b[1],b[2],b[-1])

a t d

## SLICING

In [36]:
a="i am learning data sc"
print(a[0:4])

i am

In [37]:
a="i am learning data sc"
print(a[0:8])

i am lea

In [38]:
a="i am learning data science"
print(a[:])

i am learning data science

## slicing with jump

In [39]:
a="i am learning data sc"
print(a[0:10:2])

ia er

In [40]:
a="i am learning data sc"
print(a[0:10:3])

imen

In [41]:
a="i am learning data sc"
print(a[::3])

imenga

## negative sclicing

In [47]:
a="i am learning data science"
print(a[-7:-1])

scienc

In [48]:
a="i am learning data science"
print(a[-16:-1])

ing data scienc

In [50]:
a="i am learning data sc"
print(a[-16:-1:2])

lann aas

In [52]:
def extract_data(date_string):
    year=int(date_string[0:4])
    month=int(date_string[5:7])
    day=int(date_string[8:])
    return (year, month, day)

In [53]:
extract_data("2024-05-28")

(2024, 5, 28)

## reverse a string

In [75]:
s="honesty is the best policy"
print(s[::-1])
print(a)

ycilop tseb eht si ytsenoh
[5, 545, 4544, 655, 4, 25, 1]

In [56]:
a="data science"
print(a[3:9])

a scie

# Strings part 2

In [2]:
s="the iscale"
print(len(s))

10

In [3]:
s=""
print(len(s))

0

In [4]:
s=" "
print(len(s))

1

## string with special symvbol

In [6]:
s="hello\nworld"
print(s)
print(len(s))

hello
world
11

In [7]:
s="hello@world"
print(s)
print(len(s))

hello@world
11

In [8]:
s="""hello
world"""
print(s)
print(len(s))

hello
world
11

In [11]:
a="Data science also integrates domain knowledge from the underlying application domain (e.g., natural sciences, information technology, and medicine).[3] Data science is multifaceted and can be described as a science, a research paradigm, a research method, a discipline, a workflow, and a profession.[4]Data science is a concept to unify statistics, data analysis, informatics, and their related methods to understand and analyze actual phenomena with"
print(len(a))

450

## python modify string

In [13]:
s="this is a lumd 123"
print(s.upper())

THIS IS A LUMD 123

In [14]:
s="THIS IS A LUMD 123"
print(s.lower())

this is a lumd 123

In [18]:
s="THIS IS A LUMD 123"
print(s.lower())

this is a lumd 123

## string concantenation

In [19]:
a="hello"
b="world"
print(a+" "+b)

hello world

In [23]:
a="hello"
print(a*5)

hellohellohellohellohello

## replace method

In [25]:
text="helllo world i am learning python"
rep=text.replace("python","data science")
print(rep)

helllo world i am learning data science

In [73]:
s="""Statistics (from German: Statistik, orig. "description of a state, a country"[1]) is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data.[2] In applying statistics to a scientific, industrial, or social problem, it is conventional to begin with a statistical population or a statistical model to be studied. Populations can be diverse groups of people or objects such as "all people living in a country" or "every atom composing a crystal". Statistics deals with every aspect of data, including the planning of"""
p=s.replace("from","strange")
print(s)
print("\n",p)

Statistics (from German: Statistik, orig. "description of a state, a country"[1]) is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data.[2] In applying statistics to a scientific, industrial, or social problem, it is conventional to begin with a statistical population or a statistical model to be studied. Populations can be diverse groups of people or objects such as "all people living in a country" or "every atom composing a crystal". Statistics deals with every aspect of data, including the planning of

 Statistics (strange German: Statistik, orig. "description of a state, a country"[1]) is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data.[2] In applying statistics to a scientific, industrial, or social problem, it is conventional to begin with a statistical population or a statistical model to be studied. Populations can be diverse groups of people or objects such as "all people living in a country" or "every atom composing a crystal". Statistics deals with every aspect of data, including the planning of

## index method

In [33]:
s="i want to learn"
print(s.index("to"))

7

In [42]:
s= """Two main statistical methods are used in data analysis: descriptive statistics, which summarize data from a sample using indexes such as the mean or standard deviation, and inferential statistics, which draw conclusions from data that are subject to random variation (e.g., observational errors, sampling variation).[4] Descriptive statistics are most often concerned with two sets of properties of a distribution (sample or population): central tendency (or location) seeks to"""
a=s.index("main")
print(a)

4

## find methid

In [43]:
a="python is great"
b=a.find("gr")
print(b)

10

In [56]:
a="hello"
b="world"
concantenated_string=a+" " +b
lenghth=len(concantenated_string)
substring=concantenated_string[6:]
reverse=substring[::-1]
uppercase=reverse.upper()
replace=uppercase.replace("L","x")
print(concantenated_string)
print(lenghth)
print(substring)
print(reverse)
print(uppercase)
print(replace)

hello world
11
world
dlrow
DLROW
DxROW

# list part 1

In [57]:
mylist=["a","b","c"]
print(mylist)
print(type(mylist))

['a', 'b', 'c']
<class 'list'>

## property of list

### ordered

In [58]:
fruits =["mango ","oranage","cherry"]
print(fruits[1])

oranage

### hetrogenous

In [59]:
mixed_list=[ 1,"1",3.14,[1,2,3,4]]
print(mixed_list)

[1, '1', 3.14, [1, 2, 3, 4]]

### list items -data type

In [ ]:
l=["apple","banana"]
v=[2,3,4,5]
c=[True,False]

## indexed

In [63]:
animals=["dog","cat","birds"]
print(animals[2])

birds

## slicing

### basic slicing

In [62]:
numbers=[10,11,12,13,14,15,16]
print(numbers[0:4])

[10, 11, 12, 13]

### omiting slicing

In [64]:
numbers=[10,11,12,13,14,15,16]
print(numbers[:4])

[10, 11, 12, 13]

In [65]:
numbers=[10,11,12,13,14,15,16]
print(numbers[:])

[10, 11, 12, 13, 14, 15, 16]

In [66]:
numbers=[10,11,12,13,14,15,16]
print(numbers[0:4:2])

[10, 12]

## negative indexing

In [68]:
numbers=[10,11,12,13,14,15,16]
print(numbers[-5:])

[12, 13, 14, 15, 16]

## indexing with step//Jump

In [69]:
numbers=[10,11,12,13,14,15,16]
print(numbers[::3])

[10, 13, 16]

# question list

In [72]:
scores=[55,89,76,65,93,50,72]
high_scores=[]
for score in scores:
    if score > 70:
        high_scores.append(score)
    else:
        pass

print(high_scores)

[89, 76, 93, 72]

In [75]:
data=[1,2,3,4,5,6,7,8,9,10]
total=0
for i in range(0,6):
    total=total+i

print(total)

15

In [78]:
data=[1,2,3,4,5,6,7,8,9,10]
sum_first_five=sum(data[:5])
print(sum_first_five)
print(data[::-1])

15
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [88]:
numbers=[1,2,3,4,5,6,7,8,9,10]
temp=0
length=len(numbers)//2
for i in range(length):
    temp= numbers[i]
    numbers[i]=numbers[length+ i]
    numbers[length+i]=temp

print(numbers)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

In [83]:
numbers = [1,2,3,4,5,6,7,8,9,10]
length = len(numbers)//2
temp = 0
for i in range(length):
    temp = numbers[i]
    numbers[i] = numbers[len(numbers) - i - 1]
    numbers[len(numbers) - i - 1] = temp
sub_numbers = numbers[0:4]
print(f"The half swaped list is:{numbers}")
print(f"The sum of the first 3 elements is:{sum(sub_numbers)}")

The half swaped list is:[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
The sum of the first 3 elements is:34

# list part2

## len method

In [36]:
s=[1,5,4,7,9,8,7,5,45,4,5,"hello",5.3]
print(len(s))

13

## mutability property of list

### changing elements

In [38]:
my_list=[1,2,3,4,5,]
my_list[2]=10
print(my_list)

[1, 2, 10, 4, 5]

In [39]:
my_list=[1,2,3,4,5,]
my_list[2]="hello"
print(my_list)

[1, 2, 'hello', 4, 5]

### change a range of item values

In [40]:
a=[12,13,1,4,15,16,17,1,8,1,9,20,21]
a[2:4]=["books","pen","paper"]
print(a)

[12, 13, 'books', 'pen', 'paper', 15, 16, 17, 1, 8, 1, 9, 20, 21]

### add list item

In [43]:
thislist=["applke","banana","cheery"]
thislist.append("orange")
print(thislist)

['applke', 'banana', 'cheery', 'orange']

In [79]:
thislist=["applke","banana","cheery"]
thislist.insert(0,"strawberry")
print(thislist)

['strawberry', 'applke', 'banana', 'cheery']

### remove the items

In [44]:
a=[1,2,4,5,7,8,455,45,454,477]
a.remove(5)
print(a)

[1, 2, 4, 7, 8, 455, 45, 454, 477]

### join the list

In [46]:
list1=[1,2,3,4]
list2=[14,15,16]
list3=[14,15,16]
print(list1+list2+list3)

[1, 2, 3, 4, 14, 15, 16, 14, 15, 16]

## check if the list contains an element

In [47]:
a=[25,24,26,24,25,"hello"]
3 in a

False

In [48]:
a=[25,24,26,24,25,"hello"]
25 in a

True

### reverse a list

In [72]:
a=[1,25,4,655,4544,545,5]
a.reverse()
print(a)
print(a[::-1])

[5, 545, 4544, 655, 4, 25, 1]
[1, 25, 4, 655, 4544, 545, 5]

# questions

In [52]:
responses=["yes","","No","","Maybe","Yes","No",""]
clean=[]
for response in responses:
    if response!="":
        clean.append(response)
    else:
        pass

print(clean)

['yes', 'No', 'Maybe', 'Yes', 'No']

In [55]:
class1_score=[85,90,88,92,78]
class2_score=[75,82,80,85,79]

class1_avg=sum(class1_score)/len(class1_score)
class2_avg=sum(class2_score)/len(class2_score)
print("average class 1=",class1_avg)
print(class2_avg)

average class 1= 86.6
80.2

In [56]:
list1=[[1,2],[3,4],[5,6]]
list2=[[7,8],[9,10]]
list3=list1+list2
print(list3)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

In [76]:
sentences=["hello,world!","python is awesom!","i love coding!"]
a=len(sentences)

for i in range(a):
    b=sentences[i]
    print("\n")
    print(b)

hello,world!


python is awesom!


i love coding!

In [78]:
sentences=["hello,world!","python is awesom!","i love coding!"]
s="\n".join(sentences)
print(s)

hello,world!
python is awesom!
i love coding!

# Interview question

In [1]:
data_pointer=[10,20,30,40,50]
data_pointer.append(60)
data_pointer.insert(0,5)
data_pointer.remove(30)
print(data_pointer)

[5, 10, 20, 40, 50, 60]

In [24]:
n_student=int(input("Enter number of studemt"))
course_credit=[]
for i in range (n_student):
    credit=int(input("Enter the course credit for student "))
    course_credit.append(credit)
    
print(course_credit)
enrollement=[]
for credits in course_credit:
    if credits>=12:
        enrollement.append("Full time")
    else:
        enrollement.append("part time")

print(enrollement)

for i in range(n_student):
    print(f"student {i+1} : enrollement status - {enrollement[i]}")

Enter number of studemt 3
Enter the course credit for student  12
Enter the course credit for student  10
Enter the course credit for student  9

[12, 10, 9]
['Full time', 'part time', 'part time']
student 1 : enrollement status - Full time
student 2 : enrollement status - part time
student 3 : enrollement status - part time

In [27]:
n_people=int(input("Enter number of people"))
ages=[]
for i in range(n_people):
    age=int(input("enter the age of people"))
    ages.append(age)

child_count=0
adult_count=0
senior_count=0

for i in ages:
    if i<18:
        child_count=child_count+1
    elif 18<=i<65:
        adult_count=adult_count+1
    else:
        senior_count=senior_count+1

print("the number of people in each group")
print("children=",child_count)
print("adult=",adult_count)
print("senior=",senior_count)

Enter number of people 3
enter the age of people 6
enter the age of people 55
enter the age of people 90

the number of people in each group
children= 1
adult= 1
senior= 1

In [38]:
sentences=" hi my name is Raj how are you"
list=[]
list2=[]
s=sentences.upper()
a=s.split()
for i in a:
        list.append(i)
        list2.append(i)


b=" ".join(list2)

print(b)
    
    
   

print(list)

HI MY NAME IS RAJ HOW ARE YOU
['HI', 'MY', 'NAME', 'IS', 'RAJ', 'HOW', 'ARE', 'YOU']

In [41]:

ages=[12,45,98,35,42,48,24]
s=sorted(ages)
print(s)
print(s[::-1])

[12, 24, 35, 42, 45, 48, 98]
[98, 48, 45, 42, 35, 24, 12]

In [42]:
ages = [11,12,13,14,45,56,89,78,75,10,15]
ascending_ages = []
descending_ages = []

ages1 = ages.copy()
ages2 = ages.copy()

max_element = 0
min_element = 0

while True:
    if ages1 == []:
        break
    else:
        max_element = max(ages1)
        descending_ages.append(max_element)
        ages1.remove(max_element)

while True:
    if ages2 == []:
        break
    else:
        min_element = min(ages2)
        ascending_ages.append(min_element)
        ages2.remove(min_element)

print(f"The ascending order of the list is: {ascending_ages}")
print(f"The descending order of the list is: {descending_ages}")

The ascending order of the list is: [10, 11, 12, 13, 14, 15, 45, 56, 75, 78, 89]
The descending order of the list is: [89, 78, 75, 56, 45, 15, 14, 13, 12, 11, 10]

In [48]:
ages=[1,12,57,78,34,32,15,14,25,45,44]
accend=[]
deccend=[]
ages1=ages.copy()
ages2=ages.copy()

min_a=0
max_a=0

while True:
    if ages1==[]:
        break
    else:
        max_a=max(ages1)
        deccend.append(max_a)
        ages1.remove(max_a)

print(deccend)

[78, 57, 45, 44, 34, 32, 25, 15, 14, 12, 1]

# Tuples Part 1

  # cannot be changes "elements" // ordered , immutable, hetrogenous data type,Iternable , Fixed size

## creating Tuples

In [50]:
a=(910,210,30,40)
print(a)
print(type(a))

(910, 210, 30, 40)
<class 'tuple'>

## Empty Tuple

In [51]:
tup=()
print(tup)
print(type(tup))

()
<class 'tuple'>

## single Tuple

In [55]:
a=(5)
print(a)
print(type(a))

print("\n")
b=(5,)
print(b)
print(type(b))

5
<class 'int'>


(5,)
<class 'tuple'>

## a Tuple with mixed data typed

In [57]:
b=(1,2,4,"raj",True)
print(b)
print(type(b))

(1, 2, 4, 'raj', True)
<class 'tuple'>

## nested tuples

In [58]:
a=("mouse",2.3,(10,20,30))
print(a)
print(type(a))

('mouse', 2.3, (10, 20, 30))
<class 'tuple'>

In [59]:
num=([10,20],[650,6.6,52,45])
print(type(num))

<class 'tuple'>

## Tuple Constructor

In [61]:
empty=tuple()
print(empty)
print(type(empty))

()
<class 'tuple'>

## Converting list into Tuple

In [131]:
list1=[1,2,3,4]
number=tuple(list1)
print(number)
print(type(number))

(1, 2, 3, 4)
<class 'tuple'>

## Converting string into a tuple

In [65]:
string="heelo"
tuple1=tuple(string)
print(tuple1)
print(type(tuple1))

('h', 'e', 'e', 'l', 'o')
<class 'tuple'>

## convertinfg a dictionary into a tuple

In [69]:
dict={'a':1,'b':2,'c':3,}


print(dict)
print(type(dict))

tup=tuple(dict)
print(tup)
print(type(tup))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

## converting a set into Tuple

In [71]:
set={1,2,3,4}
print(set)
print(type(set))
tup=tuple(set)
print(tup)
print(type(tup))

{1, 2, 3, 4}
<class 'set'>
(1, 2, 3, 4)
<class 'tuple'>

# Timepass

In [35]:
import time

my_time=int(input("Enter time in sec"))

for i in range(my_time,0,-1):
    hours=int(i/3600)
    mini=int(i/60)
    sec=int(i%60)
    print(f"{hours:02},{mini:02},{sec:02}")
    
    time.sleep(1)



print("\n")
print("Fuck YOU!")

Enter time in sec 6

00,00,06
00,00,05
00,00,04
00,00,03
00,00,02
00,00,01


Fuck YOU!

# Tuple Part2

## indexing

In [84]:
my_tuple=('apple','banana','cherry','date')
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[-1])

apple
banana
date

## slicing in tuple

In [89]:
my_tup=('a','b','c','d','e')
print(my_tup[1:4])

('b', 'c', 'd')

In [90]:
my_tup=('a','b','c','d','e')
print(my_tup[:4])

('a', 'b', 'c', 'd')

In [91]:
my_tup=('a','b','c','d','e')
print(my_tup[:])

('a', 'b', 'c', 'd', 'e')

## Slicing with jump

In [94]:
my_tup=('a','b','c','d','e')
print(my_tup[1:4:2])

('b', 'd')

 ## negative Slicing

In [96]:
tup2=('apple','banana','cheery','date')
print(tup2[:-3])


print(tup2[-3:])

('apple',)
('banana', 'cheery', 'date')

## REVERSE THE TUPLE

In [97]:
tup2=('apple','banana','cheery','date')
print(tup2[::-1])

('date', 'cheery', 'banana', 'apple')

In [102]:
T=(1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-3])
print(T[:])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()
(1, 2, 3, 4, 5, 6, 7, 8)

## Duplicates are allowed in tuple

In [103]:
a=(12,14,15,12,14,53,14,15,89)
print(a)

(12, 14, 15, 12, 14, 53, 14, 15, 89)

## Methods of Tuple

### Count Method // dublicats

In [104]:
a=(12,14,15,12,14,53,14,15,89)
print(a.count(12))

2

In [109]:
b=("Raj","Nishant","Ayush","Raj","Raj","Ayush")
print(b.count("Raj"))
print(b.count("Ayush"))

3
2

### Index

In [110]:
b=("Raj","Nishant","Ayush","Raj","Raj","Ayush")
print(b.index("Raj"))
print(b.index("Ayush"))

0
2

# Tuple Part 3

# once a tuple is created you cannnot change its value.//immutable
# but covert into list and we can change its value

## Converting Tuple into list

In [1]:
x = ("data", "python", "science", "swati")
print(x)
print(type(x))
y=list(x)
print(y)
print(type(y))

('data', 'python', 'science', 'swati')
<class 'tuple'>
['data', 'python', 'science', 'swati']
<class 'list'>

## add items to tuple th list

In [7]:
a=(25,2,27,28,29)
y=list(a)
y.append(30)
print("New list",y)
c=tuple(y)
print("new item added to tuple",c)

New list [25, 2, 27, 28, 29, 30]
new item added to tuple (25, 2, 27, 28, 29, 30)

## Add item to a  single tuple

In [59]:
tup1=("python","data","science")
y=("code","Sex")
tup1+=y
y=y+tup1
print(tup1)
print(y)

('python', 'data', 'science', 'code', 'Sex')
('code', 'Sex', 'python', 'data', 'science', 'code', 'Sex')

## Remove item th list

In [15]:
tup1=("python","data","science","Daily")
y=list(tup1)
print(y)
y.remove("python")


print(y)
tup2=tuple(y)
print(tup2)

['python', 'data', 'science', 'Daily']
['data', 'science', 'Daily']
('data', 'science', 'Daily')

## Changing items in the tuple th list

In [20]:
tup1=("python","data","science","Daily")
y=list(tup1)
print(y)
y[0]="c++"
print(y)
c=tuple(y)
print(c)

['python', 'data', 'science', 'Daily']
['c++', 'data', 'science', 'Daily']
('c++', 'data', 'science', 'Daily')

## del Keyword

In [23]:
tup1=("python","data","science","Daily")
del tup1


print(tup1)

NameError: name 'tup1' is not defined

## loop through a tuple

In [25]:
this_tuple=("a","b","c","d")
for x in this_tuple:
    print(x)

a
b
c
d

## join two tuple

In [28]:
tup1=("a","b","c","d")
tup2=("python","data","science","Daily")
tup3=tup1+tup2
print(tup3)

('a', 'b', 'c', 'd', 'python', 'data', 'science', 'Daily')

## Multiply tuples

In [29]:
fruits=("apple","banana","cherr")
mytup= fruits*3
print(mytup)

('apple', 'banana', 'cherr', 'apple', 'banana', 'cherr', 'apple', 'banana', 'cherr')

In [30]:
fruits=("apple","banana","cherr")
mytup= fruits*2
print(mytup)

('apple', 'banana', 'cherr', 'apple', 'banana', 'cherr')

# Sets Part1

# removing duplicates from a list, memebership testing , findingb commom=n elements, finding unique elements in each group
# unordered collection of unique elements
# unordered, unique elements, mutable, iterable

## Creating sets

In [36]:
my_var={1,2,3,4,5}
print(my_var)
print(type(my_var))

{1, 2, 3, 4, 5}
<class 'set'>

## set([]) method

In [38]:
another_set=set([10,20,30,40])
print(another_set)
print(type(another_set))

{40, 10, 20, 30}
<class 'set'>

## Empty set

In [40]:
emty={}
print(emty)
print(type(emty))

{}
<class 'dict'>

In [41]:
xyz=set()
print(xyz)
print(type(xyz))

set()
<class 'set'>

## properties of set

### 1.unordered

In [43]:
my_sets={3,1,4,2}
print(my_sets)

{1, 2, 3, 4}

### 2) No Indexing / slicing

In [45]:
a={"animals","ball","cat"}
print(a[0])

TypeError: 'set' object is not subscriptable

### 3. Unique elements

In [46]:
my_set={8,10,12,14,15,12,17,18,10,13,14,16,15,14,12,10,17,52,65}
print(my_set)

{65, 8, 10, 12, 13, 14, 15, 16, 17, 18, 52}

### 4. Iterable

In [50]:
my_set ={14,25,37,41,23}
for elements in my_set:
    print(elements)

25
37
23
41
14

### 5 HAshable elements

# object with fixed value.. and cannot contain list dictionaries

In [52]:
my_set={1,2,3,"a",3.6,(10,20)}
print(my_set)

{1, 2, 3, 3.6, 'a', (10, 20)}

In [54]:
my_set1={1,2,3,"a",3.6,[10,20]}
print(my_set1)

TypeError: unhashable type: 'list'

In [57]:
my_set2={1,2,3,"a",3.6,{'a':10,'b':20}}
print(my_set2)

TypeError: unhashable type: 'dict'

# Sets PArt2

### True and 1 are consider as same value

In [3]:
a={"animal","ball",25,4,5,True,False}
print(a)

{False, True, 4, 5, 25, 'ball', 'animal'}

In [4]:
a={"animal","ball",25,4,5,1,0,True,False}
print(a)

{0, 1, 4, 5, 25, 'ball', 'animal'}

## Nested is not property of a set

In [5]:
a={1,2,3,{2,5,6}}
print(a)

TypeError: unhashable type: 'set'

## check if item is preset in the set // in

In [7]:
a={"data","swati","data"}
print("swati" in a )

True

In [9]:
b={"data","swati","data",1,2,4}
print("python" in b )
print(2 in b )

False
True

## get the lenght of the set // len()

In [10]:
a={"animaal","bat","cat",1,25,65,652,2455,155,224,8,1}
print(len(a))

11

## Add items in a set add() // once a set is created we cannot change the items but can only add items in the set

In [24]:
a={"a1","b1","c1",1,2,3}
a.add("d1")
print(a)

{1, 2, 3, 'c1', 'd1', 'b1', 'a1'}

## Update() method // to combine sets

In [12]:
x={"data","python","code"}
y={1,2,3,4,5,6} 
x.update(y) # x ka indar update y
print(x)

{1, 2, 3, 4, 5, 6, 'data', 'python', 'code'}

## Remove items from the sets // remove()

In [14]:
n={70,40,10,"code","data","science",14,52,7,245,35,70}
n.remove(70)
print(n)

{35, 7, 40, 'data', 10, 'code', 14, 'science', 52, 245}

In [15]:
n={70,40,10,"code","data","science",14,52,7,245,35,70}
n.remove("code")
print(n)

{35, 70, 7, 40, 'data', 10, 14, 'science', 52, 245}

## pop() method // rendomly remove any element

In [19]:
a={15,45,468,4862,445,55,41,35,24,6}
c=a.pop()
print(a)
print(c)

{6, 41, 45, 15, 468, 55, 24, 445, 4862}
35

In [20]:
x={"code","apple","swati",4,54,657,67,7}
y=x.pop()
print(x)
print(y)

{4, 7, 'apple', 'code', 657, 54, 'swati'}
67

## clear() method // delete all elements from the sets

In [21]:
x={"code","apple","swati",4,54,657,67,7}
x.clear()
print(x)

set()

## del // delets the sets

In [22]:
x={"code","sex","fuck"}
del x
print(x)

NameError: name 'x' is not defined

#  Sets Part 3

## Join two set *union()

In [25]:
x={"a","b","c","d"}
y={1,2,3,4}
z=x.union(y)
print(z)

{'c', 1, 'd', 2, 3, 4, 'a', 'b'}

## write a python program to find the maximum and minimum values in a set// * man() *min()

In [30]:
sets={5,68,87,26,13,15,7}
print("the maximum value in this set is")
print(max(sets))
print("the minimum value in this set is", min(sets))
print(min(sets))

the maximum value in this set is
87
the minimum value in this set is 5
5

## set Operation

In [60]:
set1={1,2,3}
set2={3,4,5,6}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

## intersection mrthod

In [35]:
set1={52,32,23}
set2={23,45,24}
inter = set1.intersection(set2)
print(set2)

{24, 45, 23}

## Difference() method// gives the whole anyone set excet the commen

In [41]:
set1={1,2,3}
set2={3,4,5}
print(diff1)

diff1 = set1.difference(set2)

diff2 =set2.difference(set1)
print(diff2)

{1, 2}
{4, 5}

# Question

In [54]:
students_passed_maths={1,2,3,4,8,9,10}
students_passed_science={1,2,4,5,6,8,7,10}
print("the number of students passed in both", len(students_passed_maths.intersection(students_passed_science)))
print("the students who only paassed in maths", students_passed_maths.difference(students_passed_science))
print("the students who only paassed in science", students_passed_science.difference(students_passed_maths))

the number of students passed in both 5
the students who only paassed in maths {9, 3}
the students who only paassed in science {5, 6, 7}

### issubset and issuperset

In [56]:
sub=students_passed_maths.issubset(students_passed_science)
print("is students passed in maths is a subset of students passed in science",sub)

is students passed in maths is a subset of students passed in science False

In [58]:
sub1=students_passed_maths.issuperset(students_passed_science)
print("is students passed in sc is a superset of students passed in science",sub1)

is students passed in sc is a superset of students passed in science False

# Dictionary part 1

## Efficient Data Retrieval , Storing Meta Data, Grouping and Aggregating Data

## Creating a simple dictonary

In [4]:
person={
    'name':"sumit",
    'age':22,
    'city':"ghy"
}
print(person)
print(type(person))

{'name': 'sumit', 'age': 22, 'city': 'ghy'}
<class 'dict'>

## Hetrogenous // mixed dictonary diff data type

In [9]:
mixed_dict={
    'name':"Bob",
    'age':25,
    'is_Student': True,
    'course': ["maths ","physics","chemestry"],
    'address': {
        'street':"delhi",
        'zipcode':12345}}
print(mixed_dict)
print(type(mixed_dict))

{'name': 'Bob', 'age': 25, 'is_Student': True, 'course': ['maths ', 'physics', 'chemestry'], 'address': {'street': 'delhi', 'zipcode': 12345}}
<class 'dict'>

## Empty Dictonary

In [11]:
empty={}
print(empty)
print(type(empty))

{}
<class 'dict'>

## Dict Constuctor

In [13]:
person = dict(name="swati",age="25",city="mumbai")
print(person)
print(type(person))

{'name': 'swati', 'age': '25', 'city': 'mumbai'}
<class 'dict'>

## Dictonary Comprehension

In [14]:
squares ={ x: x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Question

In [61]:
number=int(input("Enter the number of items"))
products={}
if number < 3:
    print("more items req")
else:
    for i in range(1,number+1):
        product_id=int(input(f"enter the id of the product {i}"))
        product_value=input("Enter product Name")
        products[product_id]=product_value

print(products)

Enter the number of items 3
enter the id of the product 1 1
Enter product Name sum
enter the id of the product 2 2
Enter product Name diff
enter the id of the product 3 3
Enter product Name mul

{1: 'sum', 2: 'diff', 3: 'mul'}

# Dictionary Part 2

## Characterstics of the dictionary

### Asessing vaLUES USING keys

In [48]:
person={
    'name':"swati",
    'age':30,
    'city':"neyyork"
}
print(person['name'])

swati

In [47]:
print(person['age'])

30

### first dictionary was not ordered later ,Dictionary was orderd

In [51]:
person={
    'name':"swati",
    'age':30,
    'city':"neyyork"
}
print(person)

{'name': 'swati', 'age': 30, 'city': 'neyyork'}

In [52]:
person={
    'name':"swati",
    'age':30,
    'name':"neyyork"
}
print(person)

{'name': 'neyyork', 'age': 30}

## Flexibly key types

### keys in dictionary must be unique ,they can of various data types , including strings, integers , floats , and tuple(if they contain only hashable objects(list and dicitionary).

In [54]:
data={
    'name':'john',
    123:"integer key ",
    (1,2): "tuple key",
    3.6:'float key',
    
}

In [55]:
print(data)

{'name': 'john', 123: 'integer key ', (1, 2): 'tuple key', 3.6: 'float key'}

list and dictionary cannot be taken as data type in dict

In [58]:
data={
    'name':'john',
    123:"integer key ",
    (1,2): "tuple key",
    3.6:'float key',
    [1,2,3]:"list"
}
print(data)

TypeError: unhashable type: 'list'

In [63]:
data={
    'name':'john',
    123:"integer key ",
    (1,2): "tuple key",
    3.6:'float key',
    { 'age':30,'city':"mumbai",}:"list"
}
print(data)

TypeError: unhashable type: 'dict'

## Dublicates are not allowed

In [65]:
dict={
    'ID':"1132f",
    'colour':"red",
    'year':1654,
    'year':2546,
}
print(dict)

{'ID': '1132f', 'colour': 'red', 'year': 2546}

# Dictionary PArt 3

## Memebership Testing // use 'in' keywords only can be used in key and not value

In [ ]:
person={
    'name':"Swati",
    'age':25,
    "city":"delhi",
}

In [66]:
print ("name" in person)

True

In [67]:
print ("email" in person)

False

In [68]:
print ("Swati" in person)

False

## Nested Dictionary

In [72]:
employee={
    "emp1":{
        "name":"Alice",
        "age":25,},
    "emp2":{
        "name":"Priya",
        "age":25,},
}
print(employee)

{'emp1': {'name': 'Alice', 'age': 25}, 'emp2': {'name': 'Priya', 'age': 25}}

In [73]:
print(employee["emp1"])

{'name': 'Alice', 'age': 25}

# Question

In [75]:
book_rating={
    "Python Programming":4.5,
    "Data Science Handbook":4.8,
    "Machine Learning BAsics":4.2,
}
print(book_rating)
if  "Python Programming" in book_rating:
    print("Found")
else:
    print("Not Found")

a=list(book_rating)
print(a)

{'Python Programming': 4.5, 'Data Science Handbook': 4.8, 'Machine Learning BAsics': 4.2}
Found
['Python Programming', 'Data Science Handbook', 'Machine Learning BAsics']

In [77]:
fruit_stock={
    'apple':10,
    'banana':15,
    'orange':8,
    'grape':20,
}
for i in fruit_stock:
    print("Fruit", i , "Stock", fruit_stock[i])

Fruit apple Stock 10
Fruit banana Stock 15
Fruit orange Stock 8
Fruit grape Stock 20

# Dictionary PArt 4

##  dictionary length len() method

In [1]:
dict={"ID": 1355445,
      "colour":"red",
      "year": 1917}


print(len(dict))

3

## Get keys Mthod

In [82]:
dict={"ID": 1355445,
      "colour":"red",
      "year": 1917}

x=dict.keys()
print(x)
print(type(x))

dict_keys(['ID', 'colour', 'year'])
<class 'dict_keys'>

## Get values Mthod

In [83]:
dict={"ID": 1355445,
      "colour":"red",
      "year": 1917}

x=dict.values()
print(x)
print(type(x))

dict_values([1355445, 'red', 1917])
<class 'dict_values'>

## change the values

In [86]:
dict={"ID": 1355445,
      "colour":"red",
      "year": 1917
     }
print(dict['year'])


dict['year']=1972


print(dict['year'])

1917
1972

## Add items in dictionary

In [90]:
person={
    "name":"Alice",
    "age":25
}
print(person)

person['city']="New Delhi"
person["email id "]="alie@123gmailcom"
print(person)

{'name': 'Alice', 'age': 25}
{'name': 'Alice', 'age': 25, 'city': 'New Delhi', 'email id ': 'alie@123gmailcom'}

### Update({}) method

In [94]:
person={
    "name":"Alice",
    "age":25 ,
    "country":"pune",
    "gender":"Male"
}
print(person)

{'name': 'Alice', 'age': 25, 'country': 'pune', 'gender': 'Male'}

In [95]:
person.update({"phone number" : 5546546655555})

print(person)

{'name': 'Alice', 'age': 25, 'country': 'pune', 'gender': 'Male', 'phone number': 5546546655555}

In [97]:
person.update({"email id" : "alice@gmail.com","adhar mnumber": 986655555})
print(person)

{'name': 'Alice', 'age': 25, 'country': 'pune', 'gender': 'Male', 'phone number': 5546546655555, 'email id': 'alice@gmail.com', 'adhar mnumber': 986655555}

## Remove itmes from the dictionary

### pop() method

In [ ]:
a={'name': 'Alice', 'age': 25, 'country': 'pune', 'gender': 'Male', 'phone number': 5546546655555, 'email id': 'alice@gmail.com', 'adhar mnumber': 986655555}

In [ ]:
print(a)

In [105]:
a.pop('age')
print(a)

KeyError: 'age'

### del method

In [106]:
a={'name': 'Alice', 'age': 25, 'country': 'pune', 'gender': 'Male', 'phone number': 5546546655555, 'email id': 'alice@gmail.com', 'adhar mnumber': 986655555}
del a["age"],a["gender"]
print(a)

{'name': 'Alice', 'country': 'pune', 'phone number': 5546546655555, 'email id': 'alice@gmail.com', 'adhar mnumber': 986655555}

In [107]:
a={'name': 'Alice', 'age': 25, 'country': 'pune', 'gender': 'Male', 'phone number': 5546546655555, 'email id': 'alice@gmail.com', 'adhar mnumber': 986655555}
del a
print(a)

NameError: name 'a' is not defined

## clear method

In [108]:
a={'name': 'Alice', 'age': 25, 'country': 'pune', 'gender': 'Male', 'phone number': 5546546655555, 'email id': 'alice@gmail.com', 'adhar mnumber': 986655555}
a.clear()
print(a)

{}

#  Dictionary Part 5

## Practise Question of dictionary

# write a python script to concatenate the following dictionaries to crete a new one.

In [114]:
dict1={1:2,2:4}
dict2={3:5,4:9}
dict3={5:6,6:7}
dict4={}
for d in(dict1,dict2,dict3):dict4.update(d)
print(dict4)

{1: 2, 2: 4, 3: 5, 4: 9, 5: 6, 6: 7}

# print a dictionary wher the keys are numbers between 1 and 15 and the values are square of keys

In [117]:
a={}
for i in range(1,16):
    a[i]=i*i

print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

# check whether a given key already exists in a dictinary

In [120]:
d={1:10,2:20,3:30,4:40}
def is_Present(x):
    if x in d:
        print("present")
    else:
        print("not present")

is_Present(10)
is_Present(1)

not present
present

#  OOPS

## Procedural Programming

In [1]:
num1=10
num2=20

sum=num1+num2
diff=num1-num2
print(sum)
print(diff)

30
-10

## Functional Programming

In [4]:
def sum2(a,b):
    print(a+b)

def diff2(a,b):
    print(a-b)

sum2(1,3)
diff2(1,3)

4
-2

## Object Oriented Programming

In [14]:
class Calculator: 
    def add(self,a,b):
        print(a+b)

    def diff(self,a,b):
        print(a-b)

    def mul(self,a,b):
        print(a*b)

In [21]:
calc = Calculator() # object

In [20]:

calc.add(50,40)
calc.diff(50,90)
calc.mul(90,70)

90
-40
6300

## Class and Object example

In [23]:
class car:
    def start(self):
        print(f" {self.colour} {self.model} car is starting .")

# object creation aur attributes set karna
car1=car()
car1.model="Toyota"
car1.colour="Red"

car2= car()
car2.model="honda"
car2.colour="Blue"

# Method call karna

car1.start()
car2.start()

 Red Toyota car is starting .
 Blue honda car is starting .

## init function // constructor

In [35]:
class car:
    def __init__(self,model,colour):
        self.model=model
        self.colour=colour

    
    def start(self):
        print(f" {self.colour} {self.model} car is starting .")

In [36]:
car1=car("toyota","black")

In [37]:
car1.start()

 black toyota car is starting .

## Polymorphism // one function  but behaves diff

### Types of polymorhism

# Run Time polymorphism - method over riding

# method ovewrrider tab hota hai jab child class aona parent class ko redefine karta hai 
yah ensure karta hai ki child class ka method call ho jab object child class ka ho //function overloading

In [48]:
class Animal:
    def make_sound(self):
        print("animal makle sound")
#child class
class Dog(Animal):
    def make_sound(self):
        print("dog bark")

class cat(Animal):
    def make_sound(self):
        print("cat meows")

In [39]:
animal=Animal()
dog=Dog()
cat=cat()

In [40]:
animal.make_sound()
dog.make_sound()
cat.make_sound()

animal makle sound
dog bark
cat meows

# compile time polymorphism- method overloading

python me method overloading directly support nahi karta
lakin hum default arguments ka use karka 
ek method ko multiple tarike se use kar sakta hain.

In [41]:
class Calculator:
    def add(self,a,b,c=0):
        print(a+b+c)

In [43]:
calc=Calculator()

In [44]:
calc.add(2,3)

5

In [45]:
calc.add(5,6,9)

20

## polymorphism in real world Senario

In [59]:
class media_player:
    def play(self):
        print("Playing media")

class audioPlayer(media_player):
    def play(self):
        print("playing audio file")

class videoPlayer(media_player):
    def play(Self):
            print("playing video files")

In [60]:
media=media_player()
audio=audioPlayer()
video=videoPlayer()

In [61]:
media.play()
audio.play()
video.play()

Playing media
playing audio file
playing video files

## Single inheretance

## Multiple Inheretance

## Multi level Inheretance

## Hybrid Inherentance

## Hierarichal inheritance